/* Body styling */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfcff;
    color: #333;
    padding-bottom: 50px;
}


/* Common classes */

.hr-no-gap {
    margin-top: 0;
    margin-bottom: 0;
}

.right {
    float: right;
}

.sheet {
    background-color: #fff;
    box-shadow: 0 0 5px 0px #ccc;
}


/* Text formatting */

a.no-style-link {
    color: inherit;
}
a.no-style-link:hover {
    text-decoration: none;
}


/* Debug purpose */

.test {
    background-color: lavender;
    outline: 1px solid black;
}
