body {
    background-color: #f9f9f9;
    color: #333;
    padding-bottom: 100px;
}

nav.navbar.navbar-default {
    background-color: #fff;
}

.accordion-item {
    background-color: hsla(0, 0%, 100%, 0.5);
    margin-top: 10px;
    box-shadow: 0px 0px 3px 0px #ccc;
}
.accordion-title {
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
    background-color: hsla(0, 0%, 95%, 0.9);
}
.accordion-title h4 {
    margin: 0;
    padding: 0;
}
.accordion-text {
    padding: 10px;
    overflow: auto;
    display: none;
}
.accordion-text.active {
    display: block;
}
.accordion-item:hover {
    box-shadow: 0px 0px 10px 0px #999;
}

.mol-container {
    width: 100%;
    height: 400px;
    background-color: #fff;
    position: relative;
    padding: 0;
}



#progressBarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
}
#progressBar {
    width: 0%;
    height: 3px;
    background-color: #5cb85c;
}
#progressBar.success {
    animation-name: successFlash;
    animation-duration: 1s;
}
@keyframes successFlash {
    0% { width: 0%; }
    99% { width: 100%; }
    100% { width: 0%; }
}
