# cclib repository and data folder
cclib/
data/

# Uploaded files
flaskapp/uploads/

# SVG files
flaskapp/static/svg/

# Cached files
*.pyc
__pycache__/
*/__pycache__/
flaskapp/static/public/
flaskapp/static/.webassets-cache/

# Virtual environment directory
venv/
venv_py2/
venv_py3/

# Docker environment
.env

# Configuration file
flaskapp/config.py

# Git
.git/
.gitignore
