# cclib repository
cclib/
# Uploaded files
flaskapp/uploads/
# Cached files
*.pyc
__pycache__/
*/__pycache__/
flaskapp/static/public/
flaskapp/static/.webassets-cache/
# Virtual environment directory
venv/
venv_py2/
venv_py3/
