# cclib repository and data folder
cclib/
data/

# Uploaded files
flaskapp/uploads/

# Cached files
*.pyc
__pycache__/
*/__pycache__/
flaskapp/static/public/
flaskapp/static/.webassets-cache/

# Virtual environment directory
venv/
venv_py2/
venv_py3/

# Configuration file
flaskapp/config.py
