{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "Openchemistry-web" %}
{% set meta_description = "Computational chemistry web repository" %}
{% set assets_css       = "browse_css" %}
{% set assets_js        = "browse_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "Openchemistry-web" %}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

<div class="container-fluid">

    <div class="row">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
        <h2 class="text-center">Browse data repository</h2>
        {% if mode == "home" %}
            {% if mols.count() > 0 %}
            <h3 class="text-center text-muted">Choose a molecular formula</h3>
            {% else %}
            <h3 class="text-center text-muted">No log file seems to be present in the data repository currently</h3>
            {% endif %}
        {% else %}
            {% if docs.count() > 0 %}
            <h3 class="text-center text-muted">Showing {{ docs.count() }} results for : {{ disp_formula(formula.split()) }}</h3>
            <a href="/browse" class="no-style-link">
                <h4><i class="glyphicon glyphicon-chevron-left"></i> Back to menu</h4>
            </a>
            <h3 class="text-center text-muted">Choose a result to view details</h3>
            {% else %}
            <h3 class="text-center text-muted">No results found for the queried formula</h3>
            {% endif %}
        {% endif %}
    </div>
    </div>

    <div class="row">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
    <div class="ul-card">
        {% if mode == "home" %}
        {% for x in mols %}
            <a href="/browse/{{ x['formula'] }}" class="no-style-link">
            <div class="li-card">
                <span class="text-muted right">
                {{ x["parsed_files"]|length }} result(s)
                </span>
                {{ disp_formula(a=x["formula"].split()) }}
            </div>
            </a>
        {% endfor %}
        {% else %}
        {% for x in docs %}
            <a href="/view/{{ x['_id'] }}" class="no-style-link">
                {% if "metadata" in x["attributes"] %}
                    {% for k in x["attributes"]["metadata"] %}
                        <div class="card-text">
                        <span class="card-text-title">{{ k }} :</span>
                        <span class="card-text-desc">{{ x["attributes"]["metadata"][k] }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            </a>
        {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>

</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
