{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "Openchemistry-web" %}
{% set meta_description = "Computational chemistry web repository" %}
{% set assets_css       = "browse_css" %}
{% set assets_js        = "browse_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "Openchemistry-web" %}



{# Head block #}
{% block head %}

{% endblock %}



{% macro formula(a) -%}
    {% for i in range(0, a|length, 2) -%}
    {{- a[i] -}}
    {%- if a[i+1] != '1' -%}
        <sub>{{ a[i+1] -}}</sub>
    {%- endif -%}
    {%- endfor %}
{%- endmacro %}



{# Body content #}
{% block body %}

<div class="container-fluid">

    <h2 class="text-center">Browse data repository</h2>

    <h3>Results are grouped by molecular formula</h3>

    {% for x in docs %}
        <div class='accordion-item'>
        <div class='accordion-title' onclick='$(this).next().next().toggle();'>
        <h4>
            <i class='text-muted glyphicon glyphicon-menu-down'></i>
            {{ formula(a=x["formula"].split()) }}
            <span class="text-muted">
            &bullet;
            {{ x["log_files"]|length }} result(s)
            </span>
        </h4>
        </div>
        <hr class='hr-no-gap'>
        <div class='accordion-text'>
            <ul>
            {% for y in x["log_files"] %}
                {% if "metadata" in y %}
                    <li>{{ y["metadata"]|string }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        </div>
    {% endfor %}

</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
