<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {# <link type="image/x-icon" rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}"> #}
    {% assets "common_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nitish Garg">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>

{% block body %}{% endblock %}

{% assets "common_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block scripts %}{% endblock %}

</body>

</html>
