{% extends "layout.html" %}



{# Page variables #}
{% set head_title = "Openchemistry-web" %}
{% set assets_css = "search_css" %}
{% set assets_js  = "search_js" %}
{% set nav_bar    = True %}
{% set nav_title  = "Openchemistry-web" %}



{# Head block #}
{% block head %}

{% endblock %}



{% macro disp_formula(a) -%}
    {% for i in range(0, a|length, 2) -%}
    {{- a[i] -}}
    {%- if a[i+1] != '1' -%}
        <sub>{{ a[i+1] -}}</sub>
    {%- endif -%}
    {%- endfor %}
{%- endmacro %}



{# Body content #}
{% block body %}

<div class="container-fluid">

    <h2 class="text-center">Search for a molecule</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" id="searchForm">
                <div class="form-group">
                    <label for="query-type" class="col-sm-3 control-label">Search By</label>
                    <div class="col-sm-9">
                        <div class="radio">
                          <label><input type="radio" name="query-type" value="formula" checked="true">Molecular formula</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="logFileInput" class="col-sm-3 control-label">Query</label>
                    <div class="col-sm-9">
                        {% set query_value = "" %}
                        {% if search_status is defined %}
                        {% set query_value = query %}
                        {% endif %}
                        <input type="text" class="form-control" name="query-text" value="{{ query_value }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <input type="submit" class="btn btn-success btn-block" id="querySubmit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if search_status is defined %}
            <h3 id="resultQuery" class="text-center">You queried for : {{ query }} ({{ search_type }})</h3>
            <div class="row">
            <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                {% if search_status == 1 %}
                    <h4 class="text-muted" id="resultStatus">Found {{ molecules.count() }} result(s)</h4>
                    <div class="ul-card">
                        {% for x in molecules %}
                            <a href="/browse/{{ x['formula'] }}" class="no-style-link">
                            <div class="li-card">
                                <span class="text-muted right">
                                {{ x["parsed_files"]|length }} result(s)
                                </span>
                                {{ disp_formula(a=x["formula"].split()) }}
                            </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4 class="text-muted" id="resultStatus">{{ message }}</h4>
                {% endif %}
            </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<div id="progressBarWrapper">
    <div id="progressBar"></div>
</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
