{% extends "layout.html" %}



{# Page variables #}
{% set head_title = "Openchemistry-web" %}
{% set assets_css = "search_css" %}
{% set assets_js  = "search_js" %}
{% set nav_bar    = True %}
{% set nav_title  = "Openchemistry-web" %}



{# Head block #}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css">
{% endblock %}



{# Body content #}
{% block body %}

<div class="container-fluid">

    <h2 class="text-center">Search for a molecule</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" id="searchForm">
                {% for x in search_fields %}
                    {% set k = x["key"] %}
                    {% if k in params %}
                        {% set _temp = x.update({'value': params[k]}) %}
                    {% endif %}
                    {% if (x["range"] == 0) or (k in stats) %}
                        <div class="form-group">
                            <label for="search-{{ k }}-input" class="col-sm-3 control-label">{{ x["title"] }}</label>
                            <div class="col-sm-9">
                            {% if x["range"] == 0 %}
                                <input type="text" class="form-control" name="search-{{ k }}-input" value="{{ x['value'] }}">
                            {% else %}
                                {% set min = stats[k]["min"] %}
                                {% set max = stats[k]["max"] %}
                                {% if x["int"] == 1 %}
                                    {% if min == max %}
                                        {% set min = min - 1 %}
                                        {% set max = max + 1 %}
                                    {% endif %}
                                    {% set step = 1 %}
                                {% else %}
                                    {% if min == max %}
                                        {% set min = 0.999 * min %}
                                        {% set max = 1.001 * max %}
                                    {% endif %}
                                    {% set step = ((max-min)/100.0)|round(5) %}
                                {% endif %}
                                {% if x["value"] == "" %}
                                    {% set _temp = x.update({'value': (min|string)+","+(max|string)}) %}
                                {% endif %}
                                <input type="text" class="span2" name="search-{{ k }}-input" value="" data-slider-min="{{ min }}" data-slider-max="{{ max }}" data-slider-step="{{ step }}" data-slider-value="[{{ x['value'] }}]"/>
                            {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" id="querySubmit">
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if status is defined %}
                {% if status <= 0 %}
                    <h3 class="text-center" id="resultMessage">{{ message }}</h3>
                {% else %}
                    <h3 class="text-center" id="resultMessage">Found {{ docs|length }} result(s)</h3>
                    {% if docs|length > 0 %}
                    <div class="ul-card">
                        {% for x in docs %}
                            <a href="/view/{{ x['_id'] }}" class="no-style-link">
                            <div class="li-card">
                                {% if "formula_string" in x %}
                                    <div class="card-text">
                                    <span class="card-text-title">Formula :</span>
                                    <span class="card-text-desc">{{ disp_formula(a=x["formula_string"].split()) }}</span>
                                    </div>
                                {% endif %}
                                {% if "metadata" in x["attributes"] %}
                                    {% for k in x["attributes"]["metadata"] %}
                                        <div class="card-text">
                                        <span class="card-text-title">{{ k }} :</span>
                                        <span class="card-text-desc">{{ x["attributes"]["metadata"][k] }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>

<div id="progressBarWrapper">
    <div id="progressBar"></div>
</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
{% endblock %}
